@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.mobile-container{
  background-color: white;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: hidden;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img{
  max-width: 100%;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
header input{
  background-color: #eee;
  border: none;
  border-radius: 3px;
  /* font-family: inherit; */
  padding: 0.5rem 1rem;
}
header button{
  background-color: transparent;
  border: none;
  color: rgb(138, 129, 141);
  font-size: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
}
.fav-container{
  background-color: rgb(237, 235, 238);
  padding: 1rem;
  text-align: center;
}
.fav-meals{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.fav-meals li{
  position: relative;
  margin: 5px;
  width: 75px;
}
.fav-meals li .clear{
  position: absolute;
  background-color: transparent;
  color: black;
  border: none;
  top: -.5rem;
  right: -.5rem;
  padding: 0 .25rem;
  opacity: 0;
  cursor: pointer;
}
.fav-meals li .clear:hover{
  opacity: 1;
}
.fav-meals li img{
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 50%;
  object-fit: cover;
  height: 70px;
  width: 70px;
}
.fav-meals li span{
  display: inline-block;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}
.meal{
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #3333331a;
  margin: 1.5rem;
  overflow: hidden;
}
.meal-header{
  position: relative;
}
.meal-header .random{
  position: absolute;
  top: 1rem;
  background-color: #fff;
  padding: 0.25rem 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.meal-header img{
 object-fit: cover;
 height: 170px;
 width: 100%;
}
.meal-body{
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem;
}
.meal-body h4{
  margin: 0;
}
.meal-body .fav-btn{
  border: none;
  background-color: transparent;
  color: rgb(197, 188, 188);
  font-size: 1.2rem;
  cursor: pointer;
}
.meal-body .fav-btn:active{
  color: rebeccapurple;
}
